{% extends "layout.html" %}
{% block content %}
  {% if anotaciones %}
    <div class="table-responsive">
      <table class="table table-striped table-hover mb-0">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Paciente</th>
            <th scope="col">Anotación</th>
            <th scope="col">Usuario</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for i in anotaciones %}
            <tr>
              <td>{{ i.fecha_printable() }}</td>
              <td>{{ i.obtener_paciente().ApeNom }} - <span>DNI {{ i.obtener_paciente().Numero_Doc }}</span></td>
              <td>{{ i.texto }}</td>
              <td>{{ i.user.nombre }} {{ i.user.apellido }}</td>
              <td>
                <form id="form-eliminar-anotacion-{{ i.id }}" method="POST" action="{{ url_for('main.eliminar_anotacion') }}">
                  <input name="viene_de_lista" value="1" type="hidden">
                  <input name="anotacion_id" value="{{ i.id }}" type="hidden">
                  <a data-bs-toggle="tooltip" data-bs-title="Eliminar" data-bs-placement="top" href="#" data-numero-id="{{ i.id }}" data-nombre="{{ i.ApeNom }}" class="eliminar-anotacion btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="text-center">No hay anotaciones</div>
  {% endif %}
  <script>
    $(".eliminar-anotacion").on("click", function (event) {
      event.preventDefault();
      id = $(this).data("numero-id");
      nombre = $(this).data("nombre");
      Swal.fire({
        title: 'Confirmar eliminación',
        text: "¿Desea eliminar la anotación del paciente " + nombre + "?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, eliminar',
        confirmButtonColor: '#dd6b55',
        cancelButtonText: 'No, volver'
      }).then((result) => {
        if (result.value) {
          $("#form-eliminar-anotacion-" + id).submit();
        }
      });
    });
  </script>
{% endblock content %}
