{% extends "layout.html" %}
{% block content %}
  <div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-title-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-title-2">Ver solicitud de anteojos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="text-center" id="form-buscar-sol" action="{{ url_for('main.ver_solicitud_anteojos') }}" method="POST">
            <div class="input-group mb-3">
              <span class="input-group-text">N° referencia</span>
              <input type="text" name="solicitud_id" id="solicitud_id" class="form-control remove-nonnum" placeholder="N° de referencia" required="required">
              <input id="btn-buscar-sol" class="btn btn-primary" value="Buscar" type="submit">
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
  <div class="text-center my-3">
    <h4>
      Nueva solicitud de lentes
    </h4>
    <button type="button" class="btn btn-secondary my-2" data-bs-toggle="modal" data-bs-target="#modal-2">
      <i class="fa fa-search" aria-hidden="true"></i> Buscar solicitud    
    </button>
    <a href="{{ url_for('main.ver_solicitudes') }}" class="btn btn-secondary my-2" role="button"><i class="fa fa-list-ul"></i> Ver solicitudes</a>
  </div>
  <form method="POST" class="mx-auto w-half" enctype="multipart/form-data">
    <div class="my-3">
      <div class="row">
        <div class="fs-5 col-3 offset-3">{{ form.numero_doc.label(for=numero_doc, class="align-middle") }}</div>
        <div class="col-3">
          {% if form.numero_doc.errors %}
            {{ form.numero_doc(class="form-control is-invalid", autofocus=True) }}
            <div class="invalid-feedback">
              {% for error in form.numero_doc.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.numero_doc(class="form-control", autofocus=True) }}
          {% endif %}
        </div>
      </div>
    </div>
    <div id="hideable" style="display: none;">
      <div class="my-3">
        <div class="row">
          <div class="mt-1 col-6 offset-3 text-center"><h6 id="nombre"></h6></div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="col-6 offset-3" id='telefonos'></div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="fs-5 col-2 offset-3">{{ form.telefono_1.label(for=telefono_1, class="align-middle") }}</div>
          <div class="col-4">
            <input name="telefono_1" id="telefono_1" type="text" class="form-control remove-nonnum">
            <input name="telefono_real_1" id="telefono_real_1" type="hidden">
          </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="fs-5 col-2 offset-3">{{ form.telefono_2.label(for=telefono_2, class="align-middle") }}</div>
          <div class="col-4">
            <input name="telefono_2" id="telefono_2" type="text" class="form-control remove-nonnum">
            <input name="telefono_real_2" id="telefono_real_2" type="hidden">
          </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="fs-5 col-2 offset-3">{{ form.numero_ps.label(for=numero_ps, class="align-middle") }}</div>
          <div class="col-4">
            {% if form.numero_ps.errors %}
              {{ form.numero_ps(class="form-control remove-nonnum is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.numero_ps.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.numero_ps(class="form-control remove-nonnum") }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="fs-5 col-2 offset-3">{{ form.dependencia.label(for=dependencia, class="align-middle") }}</div>
          <div class="col-4">
            {% if form.dependencia.errors %}
              {{ form.dependencia(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.dependencia.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.dependencia(class="form-control") }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
          <div class="mt-1 col-6 offset-3">
            <div class="mb-3">
              <label for="receta" class="fs-5 form-label">Adjuntar orden médica</label>
              {% if form.receta.errors %}
                {{ form.receta(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.receta.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.receta(class="form-control") }}
              {% endif %}            
            </div>
          </div>
        </div>
      </div>
      <div class="text-center my-3">
        <input class="btn btn-primary btn-lg" id="submitBtn" type="submit" value="Confirmar">
      </div>
    </div>
  </form>
  <script type="text/javascript">
    function activar() {
      $("#hideable").slideDown();
      $(".select2").width('100%');
    }
    function desactivar() {
      $("#hideable").slideUp();
    }

    var dni_input = document.getElementById('numero_doc');
    dni_input.onchange = function() {
      var dni = this.value.replace(/[^0-9]/gi, '');
      this.value = dni;
      fetch('/altas/buscar/dni/' + dni).then(function(response) {
        response.json().then(function(data) {
          var nombre = document.getElementById('nombre');
          let container = document.querySelector('#telefonos');
          if (Object.keys(data).length === 0) {
            dni_input.classList.add("is-invalid");
            nombre.innerHTML = "NO ES AFILIADO";
            desactivar();
            container.innerHTML = "";
          } else {
            dni_input.classList.remove("is-invalid");
            activar();
            container.innerHTML = "";
            nombre.innerHTML = "Nombre: " + data.nombre;
            let content = '';
            if (data.solicitudes != undefined) {
              if (Object.keys(data.solicitudes).length !== 0) {
                content += '<h6 mb-0>Ultimas solicitudes:</h6><table class="table table-bordered mb-3"><tr><th class="text-left">N°</th><th class="text-left">N° PS</th><th class="text-left">Fecha</th><th class="text-left">Gestionada</th></tr>';
                for (const key in data.solicitudes) {
                  content += '<tr><td>' + data.solicitudes[key]['id'] + '</td><td>' + data.solicitudes[key]['numero_ps'] + '</td><td>' + data.solicitudes[key]['fecha'] + '</td>';
                  if (data.solicitudes[key]['gestionada']) {
                    content += '<td><i class="fas fa-check"></i></td>';
                  } else {
                    content += '<td class="font-weight-bold text-danger"><i class="fas fa-times"></i></td>';
                  }
                  content += '</tr>';
                }
                content += '</table>';
              }
            }
            if (data.telefonos != undefined) {
              content += '<h6 mb-0>Teléfonos de contacto:</h6><ul class="mb-3">';
              data.telefonos.forEach(i => {
                content += '<li class="mb-0 ms-2">' + i + '</li>';
              });
              content += '</ul>';
            }
            container.innerHTML = content;
          }
        });
      });
    }

    const hay = document.getElementsByClassName('is-invalid');
    if (hay.length > 0) {
      activar();
    }
  </script>
  <script>
    $(document).ready(function() {
      $(".iti__selected-flag").attr("tabindex","-1");
    });
  </script>
  <script>
    const input_1 = document.querySelector("#telefono_1");
    var iti_1 = intlTelInput(input_1, {
      preferredCountries: ["ar"],
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.min.js",
      separateDialCode: true,
      customPlaceholder: function () {return '299 5555555'}
    });

    input_1.addEventListener("keyup", function(){
      var tel_1 = iti_1.getNumber();
      var input_real_1 = document.querySelector('#telefono_real_1');
      input_real_1.value = tel_1;
      if (iti_1.isValidNumber() == false) {
        input_1.classList.add('is-invalid');
      } else {
        input_1.classList.remove('is-invalid');
      }
    })
  </script>
  <script>
    const input_2 = document.querySelector("#telefono_2");
    var iti_2 = intlTelInput(input_2, {
      preferredCountries: ["ar"],
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.min.js",
      separateDialCode: true,
      customPlaceholder: function () {return '299 5555555'}
    });

    input_2.addEventListener("keyup", function(){
      var tel_2 = iti_2.getNumber();
      var input_real_2 = document.querySelector('#telefono_real_2');
      input_real_2.value = tel_2;
      if (iti_2.isValidNumber() == false) {
        input_2.classList.add('is-invalid');
      } else {
        input_2.classList.remove('is-invalid');
      }
    })
  </script>
{% endblock content %}

