{% extends "layout.html" %}
{% block content %}
  <style>
    .iti.iti--allow-dropdown.iti--separate-dial-code {
      flex-grow: 1;
    }
  </style>
  <div class="accordion mx-auto" id="accordion-example-1">
    <div class="accordion-item bg-primary-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-1" aria-expanded="true" aria-controls="collapse-1-1">
          Buscar en ALTAS por DNI
        </button>
      </h2>
      <div id="collapse-1-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form onsubmit="submitBtnSpinner(this.submitted, '')" autocomplete="off" action="{{ url_for('main.buscar_altas_dni') }}" method="post">
            <div class="input-group input-group-lg">
              <input name="dni" required type="text" id="dni-altas" autofocus class="form-control remove-nonnum" placeholder="N° DNI">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-primary-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
          Buscar en ALTAS por Nombre y Apellido
        </button>
      </h2>
      <div id="collapse-1-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form onsubmit="submitBtnSpinner(this.submitted, '')" autocomplete="off" action="{{ url_for('main.buscar_altas_nom') }}" method="post">
            <div class="input-group input-group-lg">
              <input name="nom" required type="text" class="form-control" placeholder="Apellido y nombre">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% if current_user.rol_id == 1 %}
      <div class="accordion-item bg-primary-subtle">
        <h2 class="accordion-header">
          <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-21" aria-expanded="false" aria-controls="collapse-1-21">
            Buscar en ALTAS por Anotación
          </button>
        </h2>
        <div id="collapse-1-21" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1-">
          <div class="accordion-body">
            <form onsubmit="submitBtnSpinner(this.submitted, '')" autocomplete="off" action="{{ url_for('main.buscar_anotaciones') }}" method="post">
              <div class="input-group input-group-lg">
                <input name="anotacion" required type="text" class="form-control" placeholder="Anotación">
                <button type="submit" onclick="this.form.submitted=this;" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="accordion-item bg-primary-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-41" aria-expanded="false" aria-controls="collapse-1-41">
          Buscar en ALTAS por Número de teléfono
        </button>
      </h2>
      <div id="collapse-1-41" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, '')" action="{{ url_for('main.buscar_altas_tel') }}" method="post">
            <div class="input-group input-group-lg">
              <input maxlength="15" style="border-top-right-radius: 0; border-bottom-right-radius: 0; " name="telefono" id="telefono" required type="text" class="form-control form-control-lg remove-nonnum">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
            <input name="telefono_real" id="telefono_real" type="hidden">
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-primary-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-5" aria-expanded="false" aria-controls="collapse-1-5">
          Consulta múltiple
        </button>
      </h2>
      <div id="collapse-1-5" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, '')" action="{{ url_for('main.multi') }}" method="post">
            <div class="input-group input-group-lg d-flex">
              <textarea name="textarea" class="form-control remove-nonnum2" placeholder="Ingrese un DNI por línea" rows="3" style="resize:none"></textarea>
              <button type="submit" onclick="this.form.submitted=this;" class="align-self-stretch btn btn-primary"><i class="fa fa-search"></i></button>              
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-primary-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-6" aria-expanded="false" aria-controls="collapse-1-6">
          Ver altas recientes
        </button>
      </h2>
      <div id="collapse-1-6" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, '')" action="{{ url_for('main.altas_recientes') }}" method="post">
            <div class="input-group input-group-lg">
              <span class="input-group-text">Posteriores al</span>
              <input name="fecha" required type="date" class="form-control" value="{{ fecha_form.strftime('%Y-%m-%d') }}">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-45" aria-expanded="false" aria-controls="collapse-1-45">
          Buscar en web ANDIS
        </button>
      </h2>
      <div id="collapse-1-45" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <div class="input-group input-group-lg">
            <input id="dni_busq" type="text" class="remove-nonnum form-control" placeholder="Número de documento">
            <a href="#" class="btn btn-primary" id="btn-bsq" onclick="buscarOnline()" type="button" role="button"><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="accordion-item bg-danger-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
          Buscar en BAJAS por DNI
        </button>
      </h2>
      <div id="collapse-1-3" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, '')" action="{{ url_for('main.buscar_bajas_dni') }}" method="post">
            <div class="input-group input-group-lg">
              <input name="dni" required type="text" class="form-control remove-nonnum" placeholder="N° DNI">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-danger"><i class="fa fa-search"></i></button>              
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-danger-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
          Buscar en BAJAS por Nombre y Apellido
        </button>
      </h2>
      <div id="collapse-1-4" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, '')" action="{{ url_for('main.buscar_bajas_nom') }}" method="post">
            <div class="input-group input-group-lg">
              <input name="nom" required type="text" class="form-control" placeholder="Apellido y nombre">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-danger"><i class="fa fa-search"></i></button>              
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-danger-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-7" aria-expanded="false" aria-controls="collapse-1-7">
          Ver bajas recientes
        </button>
      </h2>
      <div id="collapse-1-7" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, '')" action="{{ url_for('main.bajas_recientes') }}" method="post">
            <div class="input-group input-group-lg">
              <span class="input-group-text">Posteriores al</span>
              <input name="fecha" required type="date" class="form-control" value="{{ fecha_form.strftime('%Y-%m-%d') }}">
              <button type="submit" onclick="this.form.submitted=this;" class="btn btn-danger"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item bg-warning-subtle">
      <h2 class="accordion-header">
        <button class="accordion-button fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-8" aria-expanded="false" aria-controls="collapse-1-8">
          Por localidad
        </button>
      </h2>
      <div id="collapse-1-8" class="accordion-collapse collapse" data-bs-parent="#accordion-example-1">
        <div class="accordion-body">
          <form autocomplete="off" action="" method="post">
            <!-- <div class="w-full"> -->
              {{ form.localidad(class="form-control select-localidad", style="width:100%;", onchange="this.form.submit()") }}
              <!-- <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if current_user.rol_id == 1 %}
    <div class="row">
      <div class="col-sm-7">
        <div class="mt-4 pt-2 px-1 rounded-1 border border-secondary-subtle">
          <div class="text-center">
            <h6>Ultimas anotaciones <a href="{{ url_for('main.ver_anotaciones') }}" class="btn btn-sm btn-info">Ver todas</a></h6>
          </div>
          <table class="table table-sm small table-borderless table-hover mb-0">
            <thead>
              <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Anotación</th>
                <th scope="col" class="text-end">Fecha</th>
              </tr>
            </thead>
            <tbody>
              {% for i in anotaciones %}
                <tr data-bs-toggle="tooltip" data-bs-title="{{ i.user.nombre }} {{ i.user.apellido }}" data-bs-placement="right">
                  <td>{{ i.obtener_paciente().ApeNom }} - <span class="text-muted">DNI {{ i.obtener_paciente().Numero_Doc }}</span></td>
                  <td>{{ i.texto }}</td>
                  <td class="text-muted text-end">{{ i.fecha_printable() }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="pt-5 px-1 d-flex justify-content-center flex-column gap-3">
          <a role="button" href="{{ url_for('users.ver_usuarios') }}" type="button" class="btn btn-secondary btn-lg"><i class="fas fa-user-friends"></i> Gestionar usuarios</a>
          <a role="button" href="{{ url_for('main.crear_solicitud_anteojos') }}" type="button" class="btn btn-secondary btn-lg"><i class="fas fa-glasses"></i> Pedido de lentes</a>
          <a role="button" data-bs-toggle="modal" href="#modal-actualizar" type="button" class="btn btn-secondary btn-lg"><i class="fas fa-sync"></i> Actualizar padrón</a>
        </div>
        <div class="modal fade" id="modal-actualizar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title-1">Actualizar padrón</h1>
              </div>
              <form id="form-actualizar" autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, ' Espere...')" action="{{ url_for('main.actualizar') }}" method="POST" enctype="multipart/form-data">
                <div class="modal-body d-flex justify-content-center align-items-center">
                  <div>
                    <label for="archivo_pfis" class="form-label">Archivo pfis.rar</label>
                    <input class="form-control" type="file" id="archivo_pfis" name="archivo_pfis" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" id="cancelar-actualizacion" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" onclick="this.form.submitted=this;" class="btn btn-primary float-right">
                    <i class="fas fa-sync"></i> Actualizar
                  </button>            
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <script>
    $('#form-actualizar').on('submit', function() {
      $('#cancelar-actualizacion').attr('disabled', 'true');
      return true;
    });
  </script>
  <script>
    var input = document.getElementById("dni_busq");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        let dni = document.getElementById('dni_busq').value;
        if (dni !== "") {
          buscarOnline();
        }
      }
    }); 
  </script>
  <script>
    function buscarOnline() {
      let dni = document.getElementById('dni_busq').value;
      if (dni === "") {
        Swal.fire({
          icon: 'warning',
          title: 'Atención',
          text: 'No se ingresaron datos',
        });
        return false;
      }
      let url = 'https://egov.andis.gob.ar/pfis/consulta_beneficiario_cp.asp?NumeroDocPFIS=' + dni.replace(/[^\r\n0-9]/g, '');
      window.open(url);
      document.getElementById('dni_busq').value = "";
      halfmoon.toggleModal('modal-1');
    }
  </script>
  <script>
    $('#modal-1').on('keypress', function (event) {
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
        buscarOnline();   
      }
    });
  </script>
  <script type="text/javascript">
    var inputs = document.getElementsByClassName('remove-nonnum');
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].onchange = function() {
        this.value = this.value.replace(/[^\r\n0-9]/g, '');
      }
    }
  </script>
  <script>
    $('document').ready(function() {
      $("#dni-altas").focus();
      $(".iti__selected-flag").attr("tabindex","-1");
    });
  </script>
  <script>
    const input_iti = document.querySelector("#telefono");
    var iti = intlTelInput(input_iti, {
      preferredCountries: ["ar"],
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.min.js",
      separateDialCode: true,
      customPlaceholder: function () {return '299 5555555'}
    });
    input_iti.addEventListener("keyup", function(){
      var tel = iti.getNumber();
      var input_real = document.querySelector('#telefono_real');
      input_real.value = tel;
      if (iti.isValidNumber() == false) {
        input_iti.classList.add('is-invalid');
      } else {
        input_iti.classList.remove('is-invalid');
      }
    })
  </script>
{% endblock content %}
