{% extends "layout.html" %}
{% block content %}
  <style>
    #centro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <div id="centro" class="text-center">
    <img src="{{ url_for('static', filename='Under_construction_animated.gif') }}" alt="Trabajando en eso..." />
    <p class="text-center fs-4">
      La base de datos se está actualizando. Intente nuevamente en unos minutos.
    </p>    
  </div>
{% endblock content %}
