<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="monetag" content="5d9e8cdff8aa16a15a4071bb89fc18b4">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.0/css/halfmoon.min.css" rel="stylesheet" integrity="sha256-pfT/Otf/lK1xFNInb5QQR1uRF9cOP/8zDICH+QQ6o2c=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/intlTelInput.min.js" integrity="sha512-+gShyB8GWoOiXNwOlBaYXdLTiZt10Iy6xjACGadpqMs20aJOoh+PJt3bwUVA6Cefe7yF7vblX6QwyXZiVwTWGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/table-sort-js/table-sort.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.8/bootstrap-4/bootstrap-4.min.css" rel="stylesheet">
    {% if altas %}
      <title>Altas recientes</title>
    {% elif bajas %}
      <title>Bajas recientes</title>
    {% else %}
      {% if busqueda %}
        <title>"{{ busqueda }}" - búsqueda en padrón PFIS Neuquén</title>
      {% else %}
        <title>Padrón Beneficiarios PFIS Neuquén</title>
      {% endif %}
    {% endif %}
    {{ moment.include_moment() }}
    {{ moment.locale("es") }}
    <style>
      textarea:hover,
      input:hover,
      textarea:active,
      input:active,
      textarea:focus,
      input:focus,
      button:focus,
      button:active,
      button:hover,
      label:focus,
      .btn:active,
      .btn.active
      {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }

      #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5000;
      }
      .container {
        height: 100%;
        min-height: 82vh;
      }
      .accordion-button:not(.collapsed) {
        box-shadow: none;
      }
      .clickable {
        cursor: pointer;
      }

      .tip{background-color: #757575;padding: 0 14px;line-height: 27px;position: absolute;border-radius: 4px;z-index: 100;color: #fff;font-size: 12px;animation-name: tip;animation-duration: .6s;animation-fill-mode: both}
      .tip:before{content: "";background-color: #757575;height: 10px;width: 10px;display: block;position: absolute;transform: rotate(45deg);top: -4px;left: 17px}
      #copied_tip{animation-name: come_and_leave;animation-duration: 1s;animation-fill-mode: both;bottom: -35px;left:2px}
    </style>
  </head>
  <body class="bg-dark-subtle with-custom-webkit-scrollbars with-custom-css-scrollbars" data-set-preferred-mode-onload="true">
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
      <div id="loader">
        <img src="{{ url_for('static', filename='loader.gif') }}" alt="Cargando..." />
      </div>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-center">
          <a class="shadow p-2 bg-body rounded navbar-brand d-flex align-items-center justify-content-center" href="{{ url_for('main.inicio') }}">
            <img src="{{ url_for('static', filename='android-icon-48x48.png') }}" alt="Logo" width="48" height="48" class="d-inline-block">
            <span class="d-none d-sm-block fw-bold fs-4 mx-3">Padrón Beneficiarios PFIS UGP Neuquén</span>
            <span class="d-sm-none d-block fw-bold fs-4 mx-3">PFIS NQN</span>
            <img src="{{ url_for('static', filename='logo_incluir.png') }}" alt="Logo" height="48" class="d-inline-block">
          </a>
        </div>
      </nav>
      
      <div style="position:absolute; z-index:9999;  left:50%; transform: translate(-50%, 0%);" class="mt-2">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div class="shadow p-2 bg-body rounded container pb-5 mt-3">
        {% block content %}
        {% endblock %}
      </div>
      <nav class="navbar small bg-dark-subtle fixed-bottom d-flex justify-content-center align-items-center">
        <div class="text-dark">
          <div style="display:inline-block;">
            {% if current_user.is_authenticated %}<span id="num_beneficiarios"></span> beneficiarios - {% endif %}Padrón: {{ mod_timestamp.strftime("%d/%m/%Y") }}
          </div>
          {% if current_user.is_authenticated %} - 
            <div class="dropup-center dropup" style="display:inline-block;">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ current_user }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item small" href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
              </ul>
            </div>
          {% endif %}
        </div>
      </nav>
    </div>
    <script>
      function readTextFile(file) {
        var rawFile = new XMLHttpRequest();
        rawFile.open("GET", file, false);
        rawFile.onreadystatechange = function () {
          if(rawFile.readyState === 4) {
            if(rawFile.status === 200 || rawFile.status == 0) {
              var allText = rawFile.responseText;
              document.getElementById("num_beneficiarios").innerHTML = allText; 
            }
          }
        }
        rawFile.send(null);
      }
      readTextFile("{{ url_for('static', filename='fecha') }}");
    </script>
    <script type="text/javascript">
      const tooltipTriggerList = document.querySelectorAll(
        "[data-bs-toggle='tooltip']"
      );

      const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
      );
    </script>
    <script>
      $('document').ready( function () {
        $('.select-localidad').select2({
          theme: 'bootstrap-5'
        } );
        $('#dependencia').select2({
          theme: 'bootstrap-5'
        } );
      } );
    </script>
    <script>
      document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
          document.querySelector("body").style.visibility = "hidden";
          document.querySelector("#loader").style.visibility = "visible";
        } else {
          document.querySelector("#loader").style.display = "none";
          document.querySelector("body").style.visibility = "visible";
        }
      };
    </script>
    <script type="text/javascript">
      var inputs = document.getElementsByClassName('remove-nonnum');
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].onchange = function() {
          this.value = this.value.trim();
          this.value = this.value.replace(/[^0-9]/g, '');
        }
      }
    </script>    
    <script type="text/javascript">
      var inputs = document.getElementsByClassName('remove-nonnum2');
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].onchange = function() {
          this.value = this.value.trim();
          this.value = this.value.replace(/[^\r\n0-9]/g, '');
        }
      }
    </script>  
    <script>
      function submitBtnSpinner(el, text) {
        let prev = el.innerHTML;
        el.disabled = true;
        el.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>${text}`; 
        return true;
      }
    </script>  
    <script>
      window.onpageshow = function(event) {
        if (event.persisted) {
          window.location.reload();
        }
      };
    </script>
    <script>
      window.addEventListener("load", function() { 
        let myData = localStorage.getItem( 'alertaMostrada' );
        if ( myData == 'mostrada' ) {
          console.log('.')
        } else {
          localStorage.setItem( 'alertaMostrada', 'mostrada' );
          Swal.fire({
            title: 'Atención!',
            html: 'Se detectaron casos de usuarios creados con datos de beneficiarios del programa. <b>Se recuerda que los datos del padrón son información sensible y debe ser accesible sólo a agentes de salud</b>, por ende los usuarios que no lo sean serán eliminados. Por favor no brindar la dirección del padrón a agentes externos.',
            icon: 'warning',
            confirmButtonText: 'Aceptar'
          })
        }
      });
    </script>
  </body>
</html>
