{% extends "layout.html" %}
{% block content %}
  {% if solicitudes %}
    <div class="row">
      <div class="col-4">
        {{ solicitudes_pendientes }} pedido(s) pendiente(s) de gestión
      </div>
      <div class="col-8">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="mostrar_gestionadas" name="mostrar_gestionadas">
          <label class="form-check-label" for="mostrar_gestionadas">Mostrar gestionadas</label>
        </div>
      </div>
    </div>
    <form id="form" action="" method="POST">
      <table id="table_id" class="table-sort table-arrows remember-sort table table-no-outer-padding table-hover">
        <thead>
          <tr>
            <th class="text-nowrap">N° PS</th>
            <th class="text-nowrap">N° Doc</th>
            <th class="text-nowrap">Nombre</th>
            <th class="text-nowrap">Edad</th>
            <th class="text-nowrap">Tipo pensión</th>
            <th class="text-nowrap disable-sort">Teléfonos</th>
            <th class="text-nowrap dates-dmy-sort">Fecha</th>
            <th lass="text-nowrap">Efector</th>
            <th lass="text-nowrap">N° Ref</th>
            <th class="text-nowrap disable-sort">Receta</th>
            <th class="text-nowrap disable-sort">
              <input class="form-check-input" type="checkbox" id="select-all">
            </th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% for i in solicitudes %}
            {% if i.gestionada %}
              <tr class="table-danger gest mt-2">
            {% else %}
              <tr class="mt-2">
            {% endif %}
              <td>{{ i.numero_ps }}</td>
              <td>{{ i.numero_doc }}</td>
              <td>{{ i.nombre_paciente }}</td>
              <td>{{ i.edad() }}</td>
              <td>{{ i.ley_aplicada() }}</td>
              <td>
                {% if i.telefonos_paciente() %}
                  {{ i.telefonos_paciente() }}
                {% endif %}
              </td>
              <td>{{ i.fecha_printable() }}</td>
              <td>{{ i.dependencia.nombre }}</td>
              <td>{{ i.id }}</td>
              {% if i.receta %}
                <td><a target="_blank" class="btn btn-sm" href="{{ url_for('static', filename='uploads/' + i.receta) }}"><i class="fas fa-file-prescription"></i></a></td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>
                <input class="form-check-input" type="checkbox" id="checkbox-{{ i.id }}" name="chk-extracto" value="{{ i.id }}" aria-label="Checkbox with no label">
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex justify-content-center align-items-center">
        <button id="btn-zip" class="mx-2 btn btn-primary">Bajar Zip con recetas</button>
        <button id="btn-xls" class="mx-2 btn btn-primary">Bajar Excel con detalle</button>
        <button id="btn-gest" class="mx-2 btn btn-primary">Marcar como gestionadas</button>
      </div>
    </form>
    {% if porcentaje %}
      <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
        <div style="min-width: 50vw;" class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{porcentaje}}" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: {{porcentaje}}%"></div>
        </div>
        <div>
          <form onsubmit="return confirm('ATENCION: Se borrarán archivos de solicitudes ya gestionadas. ¿Continuar?');" action="{{ url_for('main.eliminar_gestionadas') }}" method="post">
            <input type="hidden" value="{{ csrf_token }}">
            <input class="ms-1 btn btn-sm btn-danger" value="Liberar espacio" type="submit"/>
          </form>        
        </div>
      </div>
    {% endif %}
  {% else %}
    <p>No hay solicitudes</p>
  {% endif %}
  <script>
    $('#btn-zip').click(function(){
      if(jQuery('#form input[type=checkbox]:checked').length) {
        $('#form').attr('action', '{{ url_for("main.zipped_data") }}');
        $('#form').submit();
      } else {
        Swal.fire({
          icon: 'warning',
          title: 'Atención',
          text: 'No hay solicitudes seleccionadas',
        });
      }
    });
    $('#btn-xls').click(function(){
      if(jQuery('#form input[type=checkbox]:checked').length) {
        $('#form').attr('action', '{{ url_for("main.extracto_solic") }}');
        $('#form').submit();
      } else {
        Swal.fire({
          icon: 'warning',
          title: 'Atención',
          text: 'No hay solicitudes seleccionadas',
        });
      }
    });
    $('#btn-gest').click(function(){
      if(jQuery('#form input[type=checkbox]:checked').length) {
        $('#form').attr('action', '{{ url_for("main.gestionar") }}');
        $('#form').submit()
      } else {
        Swal.fire({
          icon: 'warning',
          title: 'Atención',
          text: 'No hay solicitudes seleccionadas',
        });
      }
    });
    $("#mostrar_gestionadas").change(function(){
      var self = this;
      $("#table_id tr.gest").toggle(self.checked); 
    }).change();
  </script>
  <script>
    $(document).ready(function () {
      $("#select-all").change(function () {
        $("table tr:visible input:checkbox").prop('checked', $(this).prop("checked"));
      });
    });
  </script>
{% endblock content %}

