{% extends "layout.html" %}
{% block content %}
  <style>
    #form_login {
      left      : 50%;
      top       : 50%;
      position  : absolute;
      transform : translate(-50%, -50%);
    }
  </style>
  <form id="form_login" onsubmit="submitBtnSpinner(this.submitted, ' Espere...')" action="#" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
    <div class="my-4 text-center">
      <p class="fs-4">Iniciar sesión</p>
    </div>
    <div class="my-4 form-floating">
      {% if form.dni.errors %}
        {{ form.dni(class="form-control form-control-lg remove-nonnum is-invalid", placeholder="Número de DNI") }}
        <div class="invalid-feedback">
          {% for error in form.dni.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.dni(class="form-control form-control-lg remove-nonnum", placeholder="Número de DNI") }}
      {% endif %}
      {{ form.dni.label(for="dni") }}
    </div>
    <div class="my-4 form-floating">
      {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Contraseña") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.password(class="form-control form-control-lg", placeholder="Contraseña") }}
      {% endif %}
      {{ form.password.label(for="password") }}
    </div>
    <div class="form-check d-flex justify-content-center">
      <input class="form-check-input me-2" type="checkbox" value="0" name="remember" id="remember">
      <label class="form-check-label" for="remember">
        Recordarme
      </label>
    </div>    
    <div class="my-4 text-center">
      <div class="d-flex justify-content-around align-items-center">
        <button href="{{ url_for('users.register') }}" class="btn btn-lg btn-primary" type="submit" role="button"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
        <a href="{{ url_for('users.register') }}" class="btn btn-info" type="button" role="button">Registrarse</a>
      </div>
      <p class="mt-2">
        <a class="text-muted small" href="{{ url_for('users.reset_request') }}">¿Olvidó su contraseña?</a>
      </p>
    </div>
  </form>
{% endblock content %}
