{% extends "layout.html" %}
{% block content %}
  <style>
    .select2.select2-container {
      width: 100%;
    }
  </style>
  <form onsubmit="submitBtnSpinner(this.submitted, ' Espere...')" action="#" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
    <div class="my-4">
      <p class="fs-4">Registrar nuevo usuario</p>
    </div>
    <div class="my-4 form-floating">
      {% if form.nombre.errors %}
        {{ form.nombre(class="form-control form-control-lg is-invalid", placeholder="Nombres") }}
        <div class="invalid-feedback">
          {% for error in form.nombre.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.nombre(class="form-control form-control-lg", placeholder="Nombres") }}
      {% endif %}
      {{ form.nombre.label(for="nombre") }}
    </div>
    <div class="my-4 form-floating">
      {% if form.apellido.errors %}
        {{ form.apellido(class="form-control form-control-lg is-invalid", placeholder="Apellido") }}
        <div class="invalid-feedback">
          {% for error in form.apellido.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.apellido(class="form-control form-control-lg", placeholder="Apellido") }}
      {% endif %}
      {{ form.apellido.label(for="apellido") }}
    </div>
    <div class="my-4 form-floating">
      {% if form.dni.errors %}
        {{ form.dni(class="form-control form-control-lg is-invalid remove-nonnum", placeholder="Nro. DNI") }}
        <div class="invalid-feedback">
          {% for error in form.dni.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.dni(class="form-control form-control-lg remove-nonnum", placeholder="Nro. DNI") }}
      {% endif %}
      {{ form.dni.label(for="dni") }}
    </div>
    <div class="my-4 form-floating">
      {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
      {% endif %}
      {{ form.email.label(for="email") }}
    </div>
    <div class="my-4">
      <div class="d-flex justify-content-center align-items-center">
        <div class="pe-2">
          {{ form.dependencia.label(for="dependencia") }}
        </div>
        <div class="flex-grow-1">
          {% if form.dependencia.errors %}
            {{ form.dependencia(class="form-control form-control-lg is-invalid", placeholder="Dependencia") }}
            <div class="invalid-feedback">
              {% for error in form.dependencia.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.dependencia(class="form-control form-control-lg", placeholder="Dependencia") }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="my-4 form-floating">
      {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Contraseña") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.password(class="form-control form-control-lg", placeholder="Contraseña") }}
      {% endif %}
      {{ form.password.label(for="password") }}
    </div>
    <div class="my-4 form-floating">
      {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="Reingresar contraseña") }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.confirm_password(class="form-control form-control-lg", placeholder="Reingresar contraseña") }}
      {% endif %}
      {{ form.confirm_password.label(for="confirm_password") }}
    </div>
    <div class="my-4 text-center">
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </div>
  </form>
{% endblock content %}
