{% extends "layout.html" %}
{% block content %}
  <form onsubmit="submitBtnSpinner(this.submitted, ' Espere...')" action="#" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
    <div class="my-4">
      <p class="fs-4">Restablecer contraseña</p>
    </div>
    <div class="my-4 form-floating">
      {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
      {% endif %}
      {{ form.email.label(for="email") }}
    </div>
    <div class="my-4 text-center">
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </div>
  </form>
{% endblock content %}
