{% extends "layout.html" %}
{% block content %}
  <form onsubmit="submitBtnSpinner(this.submitted, ' Espere...')" action="#" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}
    <div class="my-4">
      <p class="fs-4">Restablecer contraseña</p>
    </div>
    <div class="my-4 form-floating">
      {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Nueva contraseña") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.password(class="form-control form-control-lg", placeholder="Nueva contraseña") }}
      {% endif %}
      {{ form.password.label(for="password") }}
    </div>
    <div class="my-4 form-floating">
      {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="Reingresar nueva contraseña") }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.confirm_password(class="form-control form-control-lg", placeholder="Reingresar nueva contraseña") }}
      {% endif %}
      {{ form.confirm_password.label(for="confirm_password") }}
    </div>
    <div class="my-4 text-center">
      {{ form.submit(class="btn btn-lg btn-primary") }}
    </div>
  </form>
{% endblock content %}
