{% extends "layout.html" %}
{% block content %}
  <style>
    /* .table td, .table th {
      padding: 0.8rem;
    } */
/* 
    table.dataTable thead tr {
        background-color: var(--lm-table-danger-bg-color);
      } */

    @media only screen and (max-width: 800px) {
      .presc {
        display:none;
      }
    }
  </style>
  <script>
    $('document').ready( function () {
      new DataTable('#table_id', {
        "language": {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar en resultados: ",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          },
          "buttons": {
            "copy": "Copiar",
            "colvis": "Visibilidad"
          }
        },
        "deferRender": true,
        {% if altas %}"order": [[ 3, "desc" ]]{% endif %}
      });
    } );
  </script>
  <div class="pb-3 table-responsive overflow-x-visible">
    <table id="table_id" class="table table-no-outer-padding table-hover">
      <thead class="table-danger">
        <tr class="table-danger">
          <th>Apellido y nombre</th>
          <th>N° Doc</th>
          <th class="presc">F. Nac.</th>
          <th class="presc">Fecha de Baja</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for i in results %}
          <tr class="table-danger mt-2">
            <td>{{ i.apenom }}</td>
            <td>{{ i.numero_doc }}</td>
            <td class="presc" data-sort='{{ i.fe_nac.strftime("%Y%m%d") }}'>{{ i.fe_nac.strftime("%d/%m/%Y") }}</td>
            <td class="presc" data-sort='{{ i.fechbaja.strftime("%Y%m%d") }}'>{{ i.fechbaja.strftime("%d/%m/%Y") }}</td>
            <td>
              <form target=_blank action="{{ url_for('main.constancia_baja') }}" method="post">
                <input type="hidden" name="dni" value="{{ i.numero_doc }}"/>
                <button class="btn btn-sm btn-danger py-0" role="button" type="submit"><i class="fas fa-address-card"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    $('document').ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
{% endblock content %}
