{% extends "layout.html" %}
{% block content %}
  <style>
    /* .table td, .table th {
      padding: 0.8rem;
    } */
    @media only screen and (max-width: 800px) {
      .presc {
        display:none;
      }
    }
  </style>
  <script>
    $('document').ready( function () {
      const myModal = new bootstrap.Modal('#modal-telefono');
      $(".passingID").click(function () {
        var nombre = $(this).attr('data-nombre');
        var dni = $(this).attr('data-nro-doc');
        $('#numero_doc_form').attr('value', dni);
        $('#nombre-benef').html(nombre);
        const modal = bootstrap.Modal.getInstance('#modal-telefono');
        modal.show();
      });
      new DataTable('#table_id', {
        "language": {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar en resultados: ",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          },
          "buttons": {
            "copy": "Copiar",
            "colvis": "Visibilidad"
          }
        },
        "deferRender": true,
        {% if altas %}"order": [[ 3, "desc" ]]{% endif %}
      });
    } );
  </script>
  <div class="pb-3 table-responsive overflow-x-visible">
    {% if result_neg %}
      <button type="button" class="btn btn-danger m-3" data-bs-toggle="modal" data-bs-target="#modal_neg">
        Ver resultados negativos
      </button>
    {% endif %}
    {% if results %}
      <table id="table_id" class="table table-no-outer-padding table-hover">
        <thead class="table-primary">
          <tr class="table-primary">
            <th>Apellido y nombre</th>
            <th>N° Doc</th>
            <th class="presc">F. Nac.</th>
            <th class="presc">Fecha de Alta</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% for i in results %}
            <tr class="table-primary mt-2">
              <td class="d-flex align-items-center flex-nowrap justify-content-start gap-2">
                <span class="text-nowrap clickable" onclick='copy("{{ i.ApeNom }}","#copy_button_nombre_{{ i.Numero_Doc }}")' id="copy_button_nombre_{{ i.Numero_Doc }}">{{ i.ApeNom }}</span>
                {% if i.numeros_telefonicos_obj() %}
                  <div class="">
                    <button class="btn btn-primary dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="me-1 fas fa-phone-alt"></i>
                    </button>
                    <ul class="dropdown-menu">
                      {% if i.numeros_telefonicos_obj() %}
                        {% for j in i.numeros_telefonicos_obj() %}
                          <li class="ps-0 pe-1 d-flex justify-content-start dropdown-item">
                            <span class="clickable" onclick='copy("{{ j.Numero_tel }}","#copy_button_tel_{{ j.Numero_tel }}")' id="copy_button_tel_{{ j.Numero_tel }}">{{ j.Numero_tel }}</span>
                            <a data-bs-toggle="tooltip" data-bs-title="Llamar" data-bs-placement="top" href="tel:{{ j.Numero_tel }}" class="ms-1 btn btn-sm btn-primary rounded-circle" target="_blank"><i class="fas fa-phone"></i></a>
                            <a data-bs-toggle="tooltip" data-bs-title="Whatsapp" data-bs-placement="top" href="https://wa.me/{{ j.Numero_tel|replace('+','') }}" target="_blank" class="ms-1 btn btn-sm btn-success rounded-circle"><i class="fab fa-whatsapp"></i></a>
                            <form id="form-eliminar-{{ j.Numero_Doc }}" method="POST" action="{{ url_for('main.eliminar_telefono') }}">
                              <input name="tel_id" value="{{ j.Numero_Doc }}" type="hidden">
                              <a data-bs-toggle="tooltip" data-bs-title="Eliminar" data-bs-placement="top" href="#" data-nombre="{{ i.ApeNom }}" data-numero="{{ j.Numero_tel }}" data-numero-id="{{ j.id }}" class="eliminar-telefono ms-1 btn btn-sm btn-danger rounded-circle"><i class="fas fa-trash-alt"></i></a>
                            </form>
                          </li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                      {% endif %}  
                      <li class="dropdown-item">
                        <button class="d-flex align-items-center flex-nowrap justify-content-start btn btn-secondary rounded-pill btn-sm passingID" data-bs-toggle="tooltip" data-bs-title="Agregar número de contacto" data-bs-placement="right" data-nro-doc="{{ i.Numero_Doc }}" data-nombre="{{ i.ApeNom }}" type="button">
                          <span class="text-nowrap"><i class="fas fa-phone-alt"></i><i class="fa fa-plus"></i></span>
                        </button>
                      </li>
                    </ul>
                  </div>
                {% else %}
                  <button class="d-flex align-items-center flex-nowrap justify-content-start btn btn-secondary rounded-pill btn-sm passingID" data-bs-toggle="tooltip" data-bs-title="Agregar número de contacto" data-nro-doc="{{ i.Numero_Doc }}" data-nombre="{{ i.ApeNom }}" type="button">
                    <span class="text-nowrap"><i class="fas fa-phone-alt"></i><i class="fa fa-plus"></i></span>
                  </button>
                {% endif %}
                {% if lentes and i.lentes_pedidos() %}
                  <div class="">
                    <button class="btn btn-primary dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="me-1 fas fa-glasses"></i>
                    </button>
                    <ul class="dropdown-menu">
                      {% for j in i.lentes_pedidos() %}
                        <li class="ps-0 pe-1 d-flex justify-content-start dropdown-item">
                          <form id="form-buscar-sol" target="_blank" action="{{ url_for('main.ver_solicitud_anteojos') }}" method="POST">
                            <input type="hidden" name="solicitud_id" id="solicitud_id" value="{{ j.id }}">
                            <input class="ms-2 btn btn-sm btn-primary" value="{{ j.id }}" type="submit">
                          </form>                           
                          <span class="ms-2">{{ moment(j.fecha).format('L') }}</span>
                          {% if j.gestionada %}
                            <span data-bs-toggle="tooltip" data-bs-title="Gestionada" data-bs-placement="right" class="ms-2"><i class="text-success fas fa-check"></i></span>
                          {% else %}
                            <span data-bs-toggle="tooltip" data-bs-title="En espera de gestión" data-bs-placement="right" class="ms-2"><i class="far fa-clock"></i></span>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {% if current_user.rol_id == 1 %}
                  {% if i.anotaciones() %}
                    <div data-bs-toggle="tooltip" data-bs-title="Anotaciones" class="">
                      <button class="btn btn-primary dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-sticky-note"></i>
                      </button>
                      <ul class="dropdown-menu">
                        {% for j in i.anotaciones() %}
                          <li data-bs-toggle="tooltip" data-bs-title="{{ j.user.nombre }} {{ j.user.apellido }}" data-bs-placement="right" class="dropdown-item">
                            <div class="d-flex justify-content-between align-items-center gap-3">
                              <span >{{ j.texto }}</span>
                              <div class="d-flex justify-content-between align-items-center gap-1">
                                <form id="form-eliminar-anotacion-{{ j.id }}" method="POST" action="{{ url_for('main.eliminar_anotacion') }}">
                                  <input name="anotacion_id" value="{{ j.id }}" type="hidden">
                                  <a href="#" data-nombre="{{ i.ApeNom }}" data-numero-id="{{ j.id }}" class="eliminar-anotacion small text-danger"><i class="fas fa-trash-alt"></i></a>
                                </form>
                                <span class="small text-muted">{{ j.fecha_printable() }}</span>
                              </div>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  <form action="{{ url_for('main.anotacion') }}" method="post">
                    <input type="hidden" name="dni" value="{{ i.Numero_Doc }}"/>
                    <div class="input-group input-group-sm" style="width:9rem">
                      <input name="texto" maxlength="30" type="text" class="form-control form-control-sm" required placeholder="Agregar anotación" aria-label="Agregar anotación" aria-describedby="button-addon{{i.Numero_Doc}}">
                      <button data-bs-toggle="tooltip" data-bs-title="Enviar" class="btn btn-secondary" type="submit" role="button" id="button-addon{{i.Numero_Doc}}"><i class="fas fa-greater-than"></i></button>
                    </div>
                  </form>
                {% endif %}         
              </td>
              <td class="clickable" onclick='copy("{{ i.Numero_Doc }}","#copy_button_{{ i.Numero_Doc }}")' id="copy_button_{{ i.Numero_Doc }}">{{ i.Numero_Doc }}</td>
              <td class="presc" data-sort='{{ i.Fe_Nac.strftime("%Y%m%d") }}'>
                <span data-bs-toggle="tooltip" data-bs-title="Edad: {{ i.calculateAge() }}" data-bs-placement="left">
                  {{ i.Fe_Nac.strftime("%d/%m/%Y") }} 
                </span>
              </td>
              <td class="presc" data-sort='{{ i.Fech_Alta.strftime("%Y%m%d") }}'>{{ i.Fech_Alta.strftime("%d/%m/%Y") }}</td>
              <td>
                <form target=_blank action="{{ url_for('main.constancia') }}" method="post">
                  <input type="hidden" name="dni" value="{{ i.Numero_Doc }}"/>
                  <button data-bs-toggle="tooltip" data-bs-title="Ver constancia" data-bs-placement="left" class="btn btn-sm btn-primary py-0" role="button" type="submit"><i class="fas fa-address-card"></i></button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay resultados entre los afiliados</p>
    {% endif %}
  </div>
  <div class="modal fade" id="modal-telefono" tabindex="-1" aria-labelledby="modal-title-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-title-1"><span>Agregar teléfono de beneficiario </span><span id="nombre-benef"></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form autocomplete="off" onsubmit="submitBtnSpinner(this.submitted, ' Espere...')" action="{{ url_for('main.agregar_telefono') }}" method="POST">
          <div class="modal-body d-flex justify-content-center align-items-center">
            <input hidden id="numero_doc_form" name="numero_doc_form" type="text">
            <input maxlength="15" name="telefono" id="telefono" required type="text" class="mt-3 form-control remove-nonnum">
            <input name="telefono_real" id="telefono_real" type="hidden">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btnSubmitTel" disabled onclick="this.form.submitted=this;" class="btn btn-primary float-right">
              <i class="fa fa-save"></i> Guardar
            </button>            
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if result_neg %}
    <div class="modal fade" id="modal_neg" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-title-2">Búsquedas sin resultados</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <table class="mb-3 p-1 table table-hover">
            {% for i in result_neg %}
              <tr>
                <td class="text-center p-10">{{ i['dni'] }}</td>
                <td class="text-center p-10">
                  <form target=_blank action="{{ url_for('main.negativa_dni') }}" method="post">
                    <input type="hidden" name="dni" value="{{ i['dni'] }}"/>
                    <input class="btn btn-danger btn-sm" href=# value="Constancia negativa" type="submit"/>
                  </form>
                </td>
                <td class="text-center p-10">
                  <form target=_blank action="{{ url_for('main.buscar_bajas_dni') }}" method="post">
                    <input type="hidden" name="dni" value="{{ i['dni'] }}"/>
                    <input class="btn btn-info btn-sm" href=# value="Buscar en Bajas" type="submit"/>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  {% endif %}
  <script>
    function copy(text, target) {
      setTimeout(function() {
        $('.tip').remove();
      }, 800);
      $(target).closest('.dropend').find('.btn').append("<div class='tip' id='copied_tip'>¡Copiado!</div>");
      var input = document.createElement('input');
      input.setAttribute('value', text);
      document.body.appendChild(input);
      input.select();
      var result = document.execCommand('copy');
      document.body.removeChild(input);
      return result;
    }
  </script></script>
  <script>
    $(".eliminar-telefono").on("click", function (event) {
      event.preventDefault();
      id = $(this).data("numero-id");
      nombre = $(this).data("nombre");
      phone = $(this).data("numero");
      Swal.fire({
        title: 'Confirmar eliminación',
        text: "¿Desea eliminar el número " + phone + " del paciente " + nombre + "?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, eliminar',
        confirmButtonColor: '#dd6b55',
        cancelButtonText: 'No, volver'
      }).then((result) => {
        if (result.value) {
          $("#form-eliminar-" + id).submit();
        }
      });
    });
  </script>
  <script>
    $(".eliminar-anotacion").on("click", function (event) {
      event.preventDefault();
      id = $(this).data("numero-id");
      nombre = $(this).data("nombre");
      Swal.fire({
        title: 'Confirmar eliminación',
        text: "¿Desea eliminar la anotación del paciente " + nombre + "?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, eliminar',
        confirmButtonColor: '#dd6b55',
        cancelButtonText: 'No, volver'
      }).then((result) => {
        if (result.value) {
          $("#form-eliminar-anotacion-" + id).submit();
        }
      });
    });
  </script>
  <script>
    $('document').ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
  <script>
    $('document').ready(function() {
      $(".iti__selected-flag").attr("tabindex","-1");
    });
  </script>
  <script>
    const input = document.querySelector("#telefono");
    var iti = intlTelInput(input, {
      preferredCountries: ["ar"],
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/js/utils.min.js",
      separateDialCode: true,
      customPlaceholder: function () {return '299 5555555'}
    });
    input.addEventListener("keyup", function(){
      var tel = iti.getNumber();
      var input_real = document.querySelector('#telefono_real');
      var btnSubmitTel = document.getElementById('btnSubmitTel');
      input_real.value = tel;
      if (iti.isValidNumber() == false) {
        input.classList.add('is-invalid');
        btnSubmitTel.setAttribute('disabled', '');
      } else {
        input.classList.remove('is-invalid');
        btnSubmitTel.removeAttribute('disabled');
      }
    })
  </script>
  <script>
    const myModalEl = document.getElementById('modal-telefono')
    myModalEl.addEventListener('shown.bs.modal', event => {
      input.focus();
    })
  </script>
{% endblock content %}
