{% extends "layout.html" %}
{% block content %}
  <div class="mx-auto">
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          N° de Referencia
        </div>
        <div class="col-sm-7">
          {{ sol.id }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          Fecha pedido
        </div>
        <div class="col-sm-7">
          {{ moment(sol.fecha).format('L LT') }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          DU paciente
        </div>
        <div class="col-sm-7">
          {{ sol.numero_doc }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          Nombre paciente
        </div>
        <div class="col-sm-7">
          {{ sol.nombre_paciente }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          Telefonos paciente
        </div>
        <div class="col-sm-7">
          {{ sol.telefonos_paciente() }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          Pedido de Suministro
        </div>
        <div class="col-sm-7">
          {{ sol.numero_ps }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          Efector
        </div>
        <div class="col-sm-7">
          {{ sol.dependencia.nombre }}
        </div>
      </div>
    </div>
    <div class="my-3">
      <div class="row">
        <div class="text-muted fs-5 col-sm-5">
          Orden médica
        </div>
        <div class="col-sm-7">
          {% if sol.receta %}
            <td><a target="_blank" class="btn btn-secondary" href="{{ url_for('static', filename='uploads/' + sol.receta) }}"><i class="fas fa-file-prescription"></i></a></td>
          {% else %}
            <td>-</td>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


