{% extends "layout.html" %}
{% block content %}
  {% if users %}
    <table id="table_id" class="table-sort table-arrows remember-sort table table-no-outer-padding table-hover">
      <thead>
        <tr>
          <th class="text-nowrap">ID</th>
          <th class="text-nowrap">Dep.</th>
          <th class="text-nowrap">Nombre</th>
          <th class="text-nowrap">DNI</th>
          <th lass="text-nowrap">Email</th>
          <th lass="text-nowrap disable-sort">Rol</th>
          <th class="text-nowrap dates-dmy-sort">Fecha</th>
          <th class="text-nowrap dates-dmy-sort">Venc.</th>
          <th class="text-nowrap disable-sort">
          </th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for i in users %}
          {% if i.baja %}
            <tr class="table-danger">
          {% else %}
            <tr class="">
          {% endif %}
            <td>{{ i.id }}</td>
            <td>{{ i.dependencia.nombre }}</td>
            <td>{{ i.nombre }} {{ i.apellido }}</td>
            <td>{{ i.dni }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.rol.descripcion }}</td>
            <td>{{ i.fecha_printable() }}</td>
            <td>{{ i.fecha_venc_cert() }}</td>
            <td>
              <div class="d-flex align-items-center flex-nowrap">
                {% if i.baja %}
                  <a data-bs-toggle="tooltip" data-bs-title="Habilitar" data-bs-placement="top" href="{{ url_for('users.eliminar_usuario', user_id=i.id) }}" class="btn btn-sm btn-info"><i class="fas fa-angle-up"></i></a>
                {% else %}
                  {% if i.rol_id == 2 %}
                    <a data-bs-toggle="tooltip" data-bs-title="Hacer admin" data-bs-placement="top" href="{{ url_for('users.modificar_usuario', user_id=i.id) }}" class="btn btn-sm btn-primary"><i class="fas fa-user-shield"></i></a>
                  {% else %}
                    <a data-bs-toggle="tooltip" data-bs-title="Quitar admin" data-bs-placement="top" href="{{ url_for('users.modificar_usuario', user_id=i.id) }}" class="btn btn-sm btn-warning"><i class="fas fa-user-minus"></i></a>
                  {% endif %}
                  <a data-bs-toggle="tooltip" data-bs-title="Eliminar" data-bs-placement="top" href="{{ url_for('users.eliminar_usuario', user_id=i.id) }}" class="ms-1 btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                  <a data-bs-toggle="tooltip" data-bs-title="Renovar certificado" data-bs-placement="top" href="{{ url_for('users.renovar_certs', user_id=i.id) }}" class="ms-1 btn btn-sm btn-secondary"><i class="fas fa-sync"></i></a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay usuarios</p>
  {% endif %}
{% endblock content %}

