{% extends "layout.html" %}
{% block content %}
    <div class="w-75">
        <h1>Página no encontrada</h1>
        <a class="btn btn-primary" href="{{ url_for('main.inicio') }}" type="button">Ir al inicio</a>
    </div>
{% endblock content %}
